Flujo Node-meteo.node
[{"id":"9e0feb71.08c348","type":"tab","label":"Flow 1"},{"id":"317ca58e.2f853a","type":"mqtt-broker","z":"","broker":"192.168.1.143","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"e9a0cb1e.a19508","type":"mqtt in","z":"9e0feb71.08c348","name":"","topic":"sensores/#","qos":"2","broker":"317ca58e.2f853a","x":251,"y":145,"wires":[["15918da6.e5a452"]]},{"id":"15918da6.e5a452","type":"debug","z":"9e0feb71.08c348","name":"","active":true,"console":"false","complete":"false","x":480,"y":145,"wires":[]},{"id":"2fec469c.ab6e0a","type":"inject","z":"9e0feb71.08c348","name":"","topic":"light","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":226,"y":281,"wires":[["a4ba3c20.108b7"]]},{"id":"a4ba3c20.108b7","type":"mqtt out","z":"9e0feb71.08c348","name":"","topic":"light","qos":"","retain":"","broker":"317ca58e.2f853a","x":436,"y":283,"wires":[]},{"id":"39fa65b.57d1c9a","type":"inject","z":"9e0feb71.08c348","name":"","topic":"light","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":189,"y":364,"wires":[["3ea3ca37.93eef6"]]},{"id":"3ea3ca37.93eef6","type":"mqtt out","z":"9e0feb71.08c348","name":"","topic":"light","qos":"","retain":"","broker":"317ca58e.2f853a","x":422,"y":357,"wires":[]}]
